<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/css/style.css" rel="stylesheet" type="text/css">
	<link href="~/css/site.css" rel="stylesheet" type="text/css">
	<title>Document</title>
</head>
<body>
	<div class="container" style="background-color: cadetblue">
		@RenderBody()
	</div>
	<footer>
		<!-- <div> -->
		<div><a href="#github">GitHub</a></div>
		<div><a href="#telegram">Telegram</a></div>
		<div><a href="#facebook">Facebook</a></div>
		<div><a href="#linkedin">LinkedIn</a></div>
		<div><a href="#email">Email</a></div>
		<!-- </div> -->
	</footer>
</body>
</html>
