@using MySchool.Services.Dtos.Employees;
@model EmployeeLoginDto;
@{
	Layout = "_AccountLayout.cshtml";
}

<div class="login-card">
	<form asp-action="login" asp-controller="employee">
		<h2>
			Log In
		</h2>
		<div class="section">
			<input type="email" asp-for=Email placeholder="email">
		</div>
		<span asp-validation-for=Email></span>
		<div class="section">
			<input type="password" asp-for=Password placeholder="password">
		</div>
		<span asp-validation-for=Password></span>
		<div>
			<input type="submit" value="Submit!">
		</div>
	</form>
</div>