@using MySchool.Services.Dtos.Employees;
@model EmployeeRegisterDto;
@{
	Layout = "_AccountLayout.cshtml";
}

<div class="register-card">
		<form asp-action="register" asp-controller="employee">
		<h2>
			Register
		</h2>
		<div class="section">
			<input type="email" asp-for=Email placeholder="email">
		</div>
		<span asp-validation-for=Email></span>
		<div class="section">
			<input type="name" asp-for=Name placeholder="name">
		</div>
		<span asp-validation-for=Name></span>
		<div class="section">
			<input type="password" asp-for=Password placeholder="password">
		</div>
		<span asp-validation-for=Password></span>
		<div>
			<input type="submit" value="Submit!">
		</div>
	</form>
</div>