<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/css/style.css" rel="stylesheet" type="text/css">
	<title>Document</title>
</head>

<body>
	<header>
		<div class="container">
			<div class="navbar">
				<a asp-controller="overall" asp-action="">Home</a>
				<a asp-controller="charters" asp-action="">Charters</a>
				<a href="#articles">Articles</a>
				<a href="#employees">Employees</a>
				<div class="dropdown">
					<button class="dropbtn">
						Students
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a asp-controller="students" asp-action="all">All</a>
						<a asp-controller="students" asp-action="now">Studying now</a>
					</div>
				</div>
				<div class="dropdown" style="float:right">
					<button class="dropbtn">
						Account
						<i class="fa fa-caret-down"></i>
					</button>
					<div class="dropdown-content">
						<a asp-controller="employee" asp-action="login">Log In</a>
						<a asp-controller="employee" asp-action="register">Register</a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
			<footer>
				<div><a href="#github">GitHub</a></div>
				<div><a href="#telegram">Telegram</a></div>
				<div><a href="#facebook">Facebook</a></div>
				<div><a href="#linkedin">LinkedIn</a></div>
				<div><a href="#email">Email</a></div>
			</footer>
		</main>
	</div>
</body>

</html>