<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/css/style.css" rel="stylesheet" type="text/css">
	<title>Document</title>
</head>

<body>
	<header>
		<div class="container">
		<div class="navbar">
			<a href="#home">Home</a>
			<a href="#charters">Charters</a>
			<a href="#articles">Articles</a>
			<a href="#employees">Employees</a>
			<div class="dropdown">
				<button class="dropbtn">Students
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<a href="#all-students">All</a>
					<a href="#now-students">Studying now</a>
				</div>
			</div>
			<a href="#account" style="float:right;">Account</a>
		</div>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<footer>
		<!-- <div> -->
		<div><a href="#github">GitHub</a></div>
		<div><a href="#telegram">Telegram</a></div>
		<div><a href="#facebook">Facebook</a></div>
		<div><a href="#linkedin">LinkedIn</a></div>
		<div><a href="#email">Email</a></div>
		<!-- </div> -->
	</footer>
</body>

</html>